
.service {
    padding: 7rem 5rem;
    line-height: 4rem;
    text-align: center;
    background-color: #E9EAF2;
}

.service .service_info h1 {
    font-size: 2.5rem;
}

.service .service_img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.service .service_img img {
    height: 80px;
    width: 80px;
}