
.footer {
    margin: none;
    background-color: #0D141E;
    color: white;
    /*padding:2rem;*/
    padding: auto 7%;
    line-height: 2rem;

}

.footer .footer_main {

    border-bottom: 1px solid white;
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 7rem 0.5rem;

}
.footer_link .link_column a,
.footer_main .footer_info p{
  font-size: 0.9rem;
  color: #A0A2AD;
  font-weight: bolder;
}
.footer_main .footer_info a{
    font-weight: bolder;
    font-size: 1rem;
    color: white;
}
.link_column {
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-between;

    /*flex-direction:column; */

}
.footer_link .link_column> div {
    display: grid;
    padding-right: 2rem;
}

.footer_main .email {
    padding: .8em;
    /*border-radius: 100rem;*/
    border-radius: 99rem 0rem 0rem 99rem;
    width: 70%;
    height: 3rem;
    margin: .5rem auto;
}
.footer_main label button{
    padding: .8em;
    border-radius: 0rem 99rem 99rem 0rem;
    height: 3rem;
    background-color: royalblue;
    color: white;
    box-shadow: inset 0 0 0 0 black;
    transition: ease-out 0.5s;
}

.footer_main label button:hover {
        box-shadow: inset 20rem 0 0 0 black;
        border: 1px solid white;
        color: white;
    }
.footer_newsletter > div{
    color: #A0A2AD;
}
.footer_newsletter > div input{
    background-color: transparent;
}
.footer_newsletter a {
    color: #A0A2AD;
    text-decoration: underline;
}
.footer_secondary {
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.footer_secondary p {
    /*align-items: center;*/
    text-align: center;
}
.footer_secondary p i{
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 50%;
    background-color: white;
    color: black;
}